@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
	color: white;
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: "Raleway", sans-serif;
}

@media screen and (min-width: 768px) {
	.App {
		display: flex;
		height: 100vh;
		justify-content: center;
		align-items: center;
		background: linear-gradient(240deg, #244857 0%, #1d546b 100%);
	}
	.container {
		display: flex;
		flex-direction: row;
		width: 768px;
		height: 420px;
	}
}
